.movie-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 2% 5%;
}

body{
  background-color: #121212;
}

.card{
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  width: 300px;
  overflow: hidden;
  color: #fff;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.btn{
  background-color: #ff5722;
  border: none;
  color: white;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;

  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #e53935; 
  box-shadow: 0 0 15px rgba(229, 57, 53, 0.6);
  transform: translateY(-2px);
}

.card-img-top {
  height: 400px;        
  object-fit: cover;    
  width: 100%;
}