body{
  background-color: #121212;
}

.navbar{
  display: flex;
  justify-content: flex-end;
}

.collapse{
  display: flex;
  justify-content: flex-end;
}

.Nav_Container{
  background-color: #1e1e1e;
  padding: 10px 20px;
  color: #fff;
}

li .nav-link{
  color: #fff;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
  font-size: 19px;
}

li .nav-link:hover{
  color: #ff5722;
  transform: translateY(-2px);
}

.form-control {
  background-color: #1E1E1E;   
  border: 1px solid #ff5722;  
  color: #E0E0E0;             
  height: 42px;                
  transition: all 0.3s ease;
}

.form-control::placeholder {
  color: #A0A0A0;
}

.form-control:focus {
  background-color: #1E1E1E;
  border-color: #ff5722;
  box-shadow: 0 0 8px rgba(255, 87, 34, 0.6);
  color: #ffffff;
}


.Nav_Container {
  background: #121212;
  padding: 10px 40px;
}

.custom-navbar {
  background: #1E1E1E;
  border-radius: 15px;
  padding: 12px 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.custom-navbar .nav-link {
  color: #E0E0E0;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
  color: #ff5722;
}

.custom-navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background: linear-gradient(90deg, #ff5722, #e53935);
  transition: width 0.3s ease;
}

.custom-navbar .nav-link:hover::after {
  width: 100%;
}

.dropdown-menu {
  background: #1E1E1E;
  border: 1px solid #2A2A2A;
  border-radius: 12px;
}

.dropdown-item {
  color: #E0E0E0;
}

.dropdown-item:hover {
  background: #252525;
  color: #ff5722;
}

.custom-navbar:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

.custom-navbar {
  position: relative;
  z-index: 1050; /* higher than hero */
}

.showtime {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 12px;
  margin: 4px;
  margin-top: 6%;

  font-size: 0.85rem;
  font-weight: 500;

  background-color: #1e1e1e;
  color: #ffffff;

  border-radius: 20px;
  border: 1px solid #333;

  cursor: pointer;
  transition: all 0.2s ease;
}

.showtime:hover {
  background-color: #ff4757;
  border-color: #ff4757;
  transform: translateY(-2px);
}

.showtime:active {
  transform: scale(0.95);
}
